.wallet {
  padding: 30px;
  text-align: center;
}

.wallet h1 {
  margin-bottom: 20px;
}

.wallet h2 {
  color: var(--gray);
  margin-bottom: 40px;
}

.wallet p {
  margin: 0 auto;
  width: max-content;
  font-size: 18px;
  font-weight: 600;
}
