.results {
  padding: 30px;
  text-align: center;
}

.results h1 {
  margin-bottom: 30px;
}

.results .container {
  display: flex;
  justify-content: space-evenly;
}

.results .update {
  margin-top: 30px;
}
